div{
  text-align:center;
}
ol{
  list-style: none;
}
li{
  display: inline-block;
  margin: 10px;
}
h2{
  color:rgb(192, 38, 38);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
  color:green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


